{# src/OC/PlatformBundle/Resources/views/Advert/add.html.twig #}

{% extends "OCPlatformBundle::layout.html.twig" %}

{% block body %}

    <h2>Supprimer une annonce</h2>

    <p>
        Attention : cette annonce sera definitivement effacée, voulez-vous continuer ?
    </p>

{% endblock %}